<!DOCTYPE html>
<html>
    <head>
       <link rel="stylesheet" href="styles.css">
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
       <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

       <script>
        document.getElementsByClassName("content-input-text")[0].addEventListener("focus", () => document.getElementsByClassName("zawartosc-input")[0].classList.add("zad1-Search--isActive"));
        document.getElementsByClassName("content-input-text")[0].addEventListener("blur", () => document.getElementsByClassName("zawartosc-input")[0].classList.remove("zad1-Search--isActive")); 
    </script>
    

    </head>
        <body> 
        <div id="navbar">
            <a>Gmail</a>
            <a>Grafika</a>
            <i class="fas fa-th"></i>
            <i class="fas fa-user"></i>
        </div> 
        <main class="content">
            <img class="zawartosc-logo" src="logo1.png" alt="logo">
                  <form class="cls-input" id="app">
              <i id="icon-margins" id="blue" class="fas fa-search"></i>
              <input class="content-input-text" type="text" v-model="inputContent"/>
              <i id="icon-margins" id="lightgrey" class="fas fa-keyboard"></i>
              <i id="icon-margins" id="blue" class="fas fa-microphone"></i>
      
                  </form>
                    <v-autocompleter v-bind:input="inputContent" v-if="inputContent"></v-autocompleter>
            <br/>
                  <div id="przycisk">
              <button class="btn" v-if="!inputContent">Szukaj w Google</button>
              <button class="btn" v-if="!inputContent">Szczęśliwy traf</button>
            </div>
        </main>

        <script src="animals.js"></script>
        <script src="autocompleter.js"></script>
    </body>
</html>
